version: "3.3"
services:
  base:
    image: poplary/debian-dev:latest
    volumes:
        - "./www/index.php:/workspace/www/index.php"
        - "./www/default.conf:/workspace/etc/nginx/conf.d/default.conf"
    ports:
        - "8000:80"
        - "2222:22"
        - "3305:3306"
        - "6378:6379"
