[mysql]
default-character-set=utf8mb4

[mysqld]
user=mysql
port=3306

basedir=/workspace/app/mysql
datadir=/workspace/data/mysql

socket=/workspace/run/mysql/mysqld.sock
pid-file=/workspace/run/mysql/mysqld.pid

# 字符集
character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
# init_connect='SET NAMES utf8mb4'

# 日志
log-error=/workspace/log/mysql/error.log
general_log=off
general_log_file=/workspace/log/mysql/mysql.log

# 慢查询
slow_query_log=on
long_query_time=1
slow_query_log_file=/workspace/log/mysql/mysql_slow.log

# Binlog
server-id=1
binlog-ignore-db=mysql
binlog_format=row
log-bin=/workspace/data/mysql/mysql-bin
sync_binlog=1
# expire_logs_days=5

# 从库配置
# read_only=1
# slave-parallel-type=LOGICAL_CLOCK
# slave-parallel-workers=4
# relay_log_recovery=ON

# Relay log
relay_log=mysql-relay-bin
relay_log_info_repository=TABLE
relay_log_recovery = 1
relay_log_purge = 1

# log_slave_updates=1
# master_info_repository=TABLE
# sync_relay_log=1
# gtid_mode=on
# enforce_gtid_consistency=1
# slave-sql-verify-checksum=1
# slave_skip_errors=1062,1032,1205

max_connections=2000
table_open_cache=2000
tmp_table_size=246M
thread_cache_size=64
interactive_timeout=240
wait_timeout=600
max_heap_table_size=256M
bulk_insert_buffer_size=256M
max_allowed_packet=40M

symbolic-links=0
tmpdir=/tmp
lc-messages-dir=/workspace/app/mysql/share
explicit_defaults_for_timestamp
skip-host-cache
skip-name-resolve

# skip-grant-tables
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
# bind-address=127.0.0.1

# innodb_print_all_deadlocks=1
# innodb_buffer_pool_instances=8
# innodb_buffer_pool_size=1G
# innodb_thread_concurrency=0
# innodb_log_buffer_size=16M
# innodb_log_file_size=512M
# innodb_file_format=Barracuda
# innodb_file_format_max=Barracuda
# innodb_data_file_path=ibdata1:50M:autoextend
# innodb_buffer_pool_load_at_startup=1
# innodb_buffer_pool_dump_at_shutdown=1
# innodb_lock_wait_timeout=15
# innodb_io_capacity=4000
# innodb_io_capacity_max=8000
# innodb_flush_method=O_DIRECT
# innodb_undo_logs=128
# innodb_purge_threads=4
# innodb_large_prefix=1
# innodb_thread_concurrency=64
# innodb_strict_mode=1
# innodb_sort_buffer_size=64M
# innodb_file_per_table=1

[mysqld_safe]
basedir=/workspace/app/mysql
datadir=/workspace/data/mysql

socket=/workspace/run/mysql/mysqld.sock
pid-file=/workspace/run/mysql/mysqld.pid

[mysqldump]
quick
max_allowed_packet = 32M

[client]
port=3306
socket=/workspace/run/mysql/mysqld.sock
default-character-set=utf8mb4
